body{
    height: 29.7cm;
    width: 20cm;
    margin:auto;
    /* change the margins as you want them to be. */
    font-family: Helvetica, Arial, sans-serif; 
} 

a {
	color: rgb(5, 99, 193);
	text-decoration: underline; 
}

header {
	text-align: center;
	border-top: 1px solid rgb(91, 155, 213);
	border-bottom: 1px solid rgb(91, 155, 213);
	width: 80%;
	margin: auto; 
}

header h1 {
	font-weight: bold; 
}

header p {
	color: rgb(91, 155, 213); 
	font-style: italic; 
}


main h2 {
	border-bottom: 1px solid black; 
}

main span.exp {
	display: inline-block;
	
}

main span.date {
	display: inline-block; 
	float: right; 
	text-align: right; 
}
